# Q1. Explain with an example each when to use a for loop and a while loop.

Sol:- The for loop is used when we already know the number of iterations, which means when we know how many times a statement has to be executed. That is why we have to specify the ending point in the for loop initialization.

When we need to end the loop on a condition other than the number of times, we use a while loop.

In [1]:
# examples
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
i = 0
while(i<10):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [3]:
# By for loop
sumN = 0
for i in range(10):
    sumN +=i
print(sumN)

45

In [4]:
# By while loop
i = 0
sumN = 0
while(i<10):
    sumN += i 
    i += 1
print(sumN)

45

# Q3. Create a python program to compute the electricity bill for a household.The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.You are required to take the units of electricity consumed in a month from the user as input.Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250.

In [1]:
unit = int(input("Enter the unit used in one month: "))
bill = 0

Enter the unit used in one month: 310

In [6]:
if unit <= 100:
    bill = unit*4.5
    
elif unit <= 200 and unit > 100:
    bill = (100*4.5)+((unit-100)*6)
    
elif unit <= 300 and unit > 200:
    bill = (100*4.5)+(100*6)+((unit-200)*10)
    
elif unit > 300:
    bill = (100*4.5)+(100*6)+(100*10)+((unit-300)*20)
    
print(bill)

2250.0

# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [13]:
l = []
for i in range (1,101):
    l.append(i)

In [14]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [9]:
l1 = []
cube = 1
for i in l:
    cube = i*i*i
    if cube%4 == 0 or cube%5 == 0:
        l1.append(cube)

In [10]:
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

# Q5. Write a program to filter count vowels in the below-given string. string = "I want to become a data scientist"

In [1]:
string = "I want to become a data scientist"

In [4]:
count = 0
for i in string:
    if (i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u' or i == 'A' or i == 'E' or i == 'I' or i == 'O' or i == 'U'):
        count += 1
print(count)

12